@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root{
  --primary: #8CB1B9;
  --secondary: #8B9B9B;
  --light-bkg: #ffffff;
  --dark-bkg: #D1D7D7;
  --darkest: #A9B3B4;
  --box-shadow-drop: rgba(50, 88, 93, 0.116);
  --box-shadow-pre: rgba(50, 88, 93, 0.116);
}

* {
  margin: 0;
  padding: 0;
  /* border: solid 1px black; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  /* font-size: 62.5%; */
}

body, #root {
  height: 100%;
}

/* #root {
  background-color: var(--dark-bkg);
} */